@layer components {
  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    font-weight: 400;
    text-align: center;
    transition: all 0.2s;
    border-width: 0.0625rem;
    border-style: solid;
    outline: none;
  }

  .btn.btn-primary-green {
    background-color: var(--primary-green);
    border-color: var(--primary-green);
    color: white;

    &:hover {
      border-color: transparent;
      box-shadow: 0 0 0 0.125rem var(--accent-green);
    }
  }

  .btn.btn-outline-primary-green {
    background-color: transparent;
    color: var(--primary-green);

    &:hover {
      color: white;
      border-color: var(--primary-green);
      box-shadow: 0 0 0 0.125rem var(--accent-green);
    }
  }

  .btn.btn-outline-primary-solid-green {
    background-color: transparent;
    color: var(--primary-green);
    border-color: var(--primary-green);

    &:hover {
      box-shadow: 0 0 0 0.125rem var(--accent-green);
    }
  }

  .btn.btn-outline-white {
    background-color: transparent;
    color: white;
    border-color: white;

    &:hover {
      background-color: white;
      color: black;
      box-shadow: 0 0 0 0.125rem var(--accent-green);
    }
  }

  .btn.btn-outline-solid-white {
    background-color: transparent;
    color: var(--color-zinc-500);
    border-color: var(--color-zinc-200);

    &:hover {
      background-color: white;
      color: var(--primary-green);
    }
  }

  .btn.btn-outline-secondary {
    background-color: transparent;
    color: var(--secondary);
    border-width: 0.125rem;
    border-style: solid;
    border-color: var(--secondary);
    transition-property: all;
    transition-duration: 0.2s;

    &:hover {
      color: var(--secondary);
      background-color: white;
    }
  }

  .btn:disabled {
    background-color: var(--color-zinc-200);
    color: var(--color-zinc-500);
    border-color: var(--color-zinc-200);
    cursor: not-allowed;
  }

  .btn.btn-lg {
    font-size: 1.25rem;
    padding-top: 0.75rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 0.75rem;
  }

  .btn.btn-small {
    font-size: 0.875rem;
    padding-top: 0.25rem;
    padding-right: 0.75rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
  }

}