@layer components {
  .carousel {
    @apply w-full relative;

    &-container {
      @apply w-full p-5 transition-all duration-500 ease-linear;
    }

    &-controller {
      @apply w-full absolute top-1/2 -translate-y-1/2 p-2.5 flex flex-nowrap justify-between;

      &-item {
        @apply w-10 h-10 text-2xl flex justify-center items-center text-zinc-400 rounded-sm;
      }

      &-item.active {
        @apply bg-zinc-50;
      }
    }
  }
}

@keyframes carousel-scroll {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  75% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-horizontal {
  animation: carousel-scroll 10s linear infinite;
}