.content-metodo-de-pago {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.input-metodo-de-pago:checked+.label-metodo-de-pago {
  .content-metodo-de-pago {
    max-height: 500px;
    /* Ajusta la altura máxima según sea necesario */
    transition: max-height 0.3s ease-in;
  }
}