@layer components {
  .card-course {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .card-course-header {
      position: relative;
      width: 100%;
      height: 155px;
      overflow: hidden;
      cursor: pointer;

      .card-course-header-play {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba($color: #000000, $alpha: 0.6);
        width: 3rem;
        height: 3rem;
        border-radius: 9999px;
        color: white;
      }

      img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        object-fit: cover;
      }
    }

    .card-course-header::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      opacity: 0;
      transition-property: all;
      transition-duration: 0.2s;
      z-index: 10;
    }

    .card-course-header::after:hover {
      opacity: .3;
    }

    .card-course-body {
      flex-grow: 1;
      background-color: white;
      padding-top: 1rem;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 0.75rem;
    }

    .card-course-footer {
      background-color: white;
      padding-top: 1rem;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 0.75rem;
    }
  }
}