.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 0.875rem;
  color: var(--color-zinc-900);
  border-width: 0.0625rem;
  border-style: solid;
  border-color: rgb(2 174 155 / 0.30);
  border-radius: 0.125rem;
  background-color: white;
  outline: none;

  &:focus,
  &:focus-within {
    border-color: var(--primary-green);
    box-shadow: 0 0 0 0.0625rem var(--primary-green);
  }
}

.form-control.invalid {
  border-color: var(--primary-red) !important;
  box-shadow: 0 0 0 0.0625rem var(--primary-red) !important;

  &::placeholder {
    color: var(--primary-red);
  }
}

.form-control:disabled {
  background-color: var(--color-zinc-100);
  border-color: var(--color-zinc-300);
  cursor: not-allowed;
}

select.form-control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 1.25rem;
}