@layer components {
  .navbar {
    width: 100%;
    transition: all 0.3s;
    position: relative;

    .container {
      min-height: 3.125rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .navbar-item {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 1rem;
    color: white;

    &:hover,
    &:focus,
    &:focus-within {
      text-decoration: underline;
    }
  }

  .navbar-search {
    width: 100%;
    display: block;
    height: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    border-width: 0.125rem;
    border-style: solid;
    outline: none;
    border-color: white;

    &:hover,
    &:focus,
    &:focus-within {
      border-color: var(--primary-green);
      box-shadow: 0 0 0 0.125rem var(--accent-green);
    }
  }

  @media screen and (min-width: 768px) {
    .navbar-item {
      padding: 0px;
    }
  }

  .navbar.navbar-primary {
    background-color: var(--primary-green);
  }

  .logo {
    color: white;
    font-size: 1.5rem;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3;

    &:hover {}
  }

}