// Jose Acevedo Desarrollador :v 

:root {
  font-size: 16px;
  /* Define aquí tus Design Tokens como variables CSS */
  --primary-green: #02AE9B;
  --primary-orange: #CD7E01;
  --primary-red: #E37461;
  --accent-green: #B4D4CE;
  --accent-orange: #F7E4C6;

  /* Paleta Blue */
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;

  /* Paleta Zinc */
  --color-zinc-50: #f8fafc;
  --color-zinc-100: #f1f5f9;
  --color-zinc-200: #e2e8f0;
  --color-zinc-300: #cbd5e1;
  --color-zinc-400: #94a3b8;
  --color-zinc-500: #64748b;
  --color-zinc-600: #475569;
  --color-zinc-700: #334155;
  --color-zinc-800: #1e293b;
  --color-zinc-900: #0f172a;
}

@tailwind base;
@tailwind components;
@import './components/Header.scss';
@import './components/Buttons.scss';
@import './components/Carousel.scss';
@import './components/Courses.scss';
@import './components/Checkbox.scss';
@import './components/FormControl.scss';
@import './components/Videos.scss';
@tailwind utilities;
@import './layout/Containers.scss';
@import './layout/Columns.scss';

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'VensfolkRegular';
  src: url('/fonts/VensfolkRegular.ttf');
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat-Regular';
  height: 100%;
}

#__next {
  height: 100% !important;
}

html,
body {
  height: 100%;
}

.font-bold,
strong {
  font-family: 'Montserrat-Bold';
}

.first-letter-uppercase::first-letter {
  text-transform: capitalize;
}

.text-container-line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  box-orient: vertical;
  -webkit-line-clamp: 1;
  /* número de líneas a mostrar */
  -webkit-box-orient: vertical;
}

.text-container-line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  box-orient: vertical;
  -webkit-line-clamp: 3;
  /* número de líneas a mostrar */
  -webkit-box-orient: vertical;
}

.text-container-line-6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  box-orient: vertical;
  text-align: justify;
  -webkit-line-clamp: 6;
  /* número de líneas a mostrar */
  -webkit-box-orient: vertical;
}

.added-to-cart-animation {
  animation: addedToCartAnimation 1s;
}

.w-20 {
  width: 4rem;
}

.h-20 {
  height: 4rem;
}

.icon-search {
  color: #02ae9b;
}

.col-auto.mx-auto.mb-5 {
  text-align: center;
}

@keyframes addedToCartAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}